* {
    margin: 0;
    padding: 0;
}

ul {
    margin: 20px;
    list-style-type: square;
}

html {
	display:table;
	height:100%;
	width:100%;
}
body {
    font: normal 13px/16px "Trebuchet MS", sans-seif;    
    background: #444;
    background-Image: url("Image/cloth.png");
    width: 100%;
    height: 100%;
}

.bio {
    background: #FFF;
    color: #565656;
    font-size: 14px;

}

.bio h1,h2,h3 {
    font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;
}

.bio h1 {

    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
}

.bio h2 {
    font-style: italic;
    font-size: 16px;
    line-height:20px;
    margin-bottom: 30px;
}

.bio h3 {
    font-weight: bold;
    font-size: 20px;
    line-height:20px;

}

.bio-content {
    width: 78%;
    padding: 20px 0;
    margin: 0px auto;
}

.copyright {
    text-align:center;
    font-size:16px;
    letter-spacing: 2px;
}

.lean {
    color: white;
    margin: 0px auto;
    margin-bottom: 40px;
    width: 78%;

}

.lean h1 {
    font-size: 40px; 
    line-height:60px;
    font-family: 'Knewave', fantasy;
    font-weight:normal;
    text-transform: uppercase;
}


.quote { margin:10px auto;font-weight:bold; width: 660px;}

p {line-height: 1.8; margin: 15px 0;}

a { color: #E01B6A; text-decoration: none; }

a:hover { text-decoration: none;color:#E01B6A;}

img {

    mask-image: url("display/shadow.png");
    -webkit-mask-image: url("display/shadow.png");
    -moz-mask-image: url("display/shadow.png");
}

img:hover {opacity:0.8; }


.medium img {
    width:165px;
    height: 138px;
}

.small img {
    width:150px;
    height: 125px;
}

.tiny img {
    width:120px;
    height: 100px;
}


.leading {
    font-size: 24px;
    font-family:'Knewave', fantasy;
    text-transform: uppercase;
    line-height: 100px;
  
}


.follow {
    float: left;
    margin: 20px;
}