
html {
	display:table;
	height:100%;
	width:100%;
	background-color: #E0E0E0;
}
body {
    color: black;
    margin: 0;
    font: normal 13px/16px Arial, Helvetica, sans-seif;
    background: white;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
    background: -webkit-linear-gradient(top, #272727 0%,#444 50%, #444 50%, #272727 100%);
    background: -moz-linear-gradient(top, #2727272 0%, #444 50%, #444 50%, #272727 100%);

}

.container {
    margin: 0 auto;
    width: 95%;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
}

h2 {color:white; font-size: 42px; line-height:200%; font-family: 'Knewave', fantasy; font-weight:normal; text-transform: uppercase;}

p {line-height: 1.8; margin:10px 0px;}

a { color: #E01B6A; text-decoration: none; }

a:hover { text-decoration: none;color:#E01B6A;}

img {}

img:hover {opacity:0.5;}
