jm* {margin: 0; padding: 0;}
html {
	display:table;
	height:100%;
	width:100%;
}
body {
    background: #444;
    background-Image: url("Image/cloth.png");
    margin: 0;
    font: normal 13px/16px "Trebuchet MS", sans-seif;    
    color: white;
	display:table-cell;
	vertical-align:middle;
}

.lean {
    margin: 0 auto;
    text-align:center;
    width: 95%;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);

}

h1 {
    font-size: 40px; 
    line-height:60px;
    font-family: 'Knewave', fantasy;
    font-weight:normal;
    text-transform: uppercase;
}


.quote { margin:10px auto;font-weight:bold; width: 660px;}

p {line-height: 1.8; margin:40px 0px;}

a { color: #E01B6A; text-decoration: none; }

a:hover { text-decoration: none;color:#E01B6A;}

img {

    mask-image: url("display/shadow.png");
    -webkit-mask-image: url("display/shadow.png");
    -moz-mask-image: url("display/shadow.png");
}

img:hover {opacity:0.8; }


.medium img {
    width:165px;
    height: 138px;
}

.small img {
    width:150px;
    height: 125px;
}

.tiny img {
    width:120px;
    height: 100px;
}


.leading {
    font-size: 24px;
    font-family:'Knewave', fantasy;
    text-transform: uppercase;
    vertical-align: top;
    float: left;
    line-height: 30px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);    
    margin: 20px;
}


.follow {
    float: left;
    margin: 20px;
}