.container{
    width: 960px;
    margin: 0px auto;
    background: #fff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}

.header {
    height: 100px;
    background: #553F19;
}

.content {
    padding: 30px;
}

#canvas1 {


}

pre {
    font-size: 15px;
    color: #553F19;
    padding: 10px;
    background: #efefef;
    border: 1px dashed #999;
    font-family: monospace;
}

p {
    font-size: 16px;
    color: #553F19;
    
    margin: 15px 0px;
    line-height: 180%;
}


h1 {
    font-size: 42px;
    color: #fff;
    padding: 20px;
    margin: 0px;
}
h2 {
    color: #553F19;
    font-size: 32px;
}

body {
    background: #EEE0C7;
    margin: 0px;
    color: #553F19;
}


.footer {
    
    height: 80px;
    background: #553F19;
}


.footer p {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
}

canvas {
    margin-top: 10px;
}

a {
    color: #C25106;
    text-decoration: none;
}

a:hover {
    color:#A24106;
    text-decoration: underline;
}